* {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    
}
header {
    width: 100%;
    height: 100px;
    background-color:#2f6939;
    color: white;
    position: fixed;
    z-index: 100;
    display: flex;
}
.logo > img{
    border: so;
    width: 72px;
    height: auto;
    margin-left: 11px;
    padding: 1rem;
    margin-left: 110px;
}
.logo > img:hover {
    transform: rotate(360deg);
    transition: .5s;
}

 .nav-list {
    display: flex;
    list-style: none;
    padding-left: 290px;

 }
 .nav-list > ul {
    margin: 0px auto;
}
    

 .nav-list  a {
    display: inline-block;
    font-family: Arial;
    padding-left: 2.5rem;
    padding-top: 1.8rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
 }
 .nav-list  a:hover {
    color:#f0ab1b;
    transform: scale(1.2) translateY(-5px);
    transition: .3s;
 }
 .nav-list  a:active{
    color: white;
    transition: .1s;
 }
 .btn-header  {
    background-color: #f0ab1b;
    box-sizing: border-box;
    position: absolute;
    right: 200px;
    top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 150px;
    height: 40px;
    padding-top: 6px;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
 }
 .btn-header:hover {
    border: 2px solid #f0ab1b;
    background-color: white;
    color: #f0ab1b;
    cursor: pointer;
    transform: scale(1.2);
    transition: .3s;
  }
  .btn-header:active{
    color: #2f6939;
    transition: .1s;
  }

section {
    padding: 0px 14%;
}
.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
/* .hero img {
    width: 60%;
    height: auto;
    padding-right: ;
} */
.hero h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 15px 0px;
}
.hero h5 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
.hero-text {
    width: 100%;
    max-width: 620px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}
.main-hero {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 13px 32px;
    background-color:#2f6939;
    color: white;
    border: 2px solid #f0ab1b;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
    margin: 0px 20px;
}
.btn:hover {
    transform: scale(1.1);
}
.btn:active {
    border: 2px solid white;
    transition: .1s;
}
.price {
    color: white;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}
.price span {
    font-size:  17px;
    font-weight: 400;
    margin-left: 10px;
    color: #2f6939;
}


 


